name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Check spotlights.json
        run: jq . website/spotlights.json > /dev/null
      - name: Check explore.json
        run: jq . website/explore.json > /dev/null
      - name: Install dependencies
        run: sudo apt install libjson-xs-perl libtext-csv-perl libjson-perl
      - name: Wait in case website isn't checked in yet
        run: sleep 120
      - name: Get website
        run: git clone --depth 1 https://github.com/pombase/website.git pombase-website
      - name: Run test script
        run: etc/check_config.pl website/pombase_v2_config.json website/jbrowse_track_metadata.csv pombase-website/src/assets
